<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Reverse Shell</title>
  <style>
  html {
    font-family: arial;
  }
  div.nav{
    padding: 8px
  }
  </style>
  <link rel="stylesheet" href="https://unpkg.com/xterm@3.6.0/dist/xterm.css" />
</head>
<body>
<div class="nav">
  <span style="font-size: 1.4em;">Reverse Shell</span>&nbsp;&nbsp;&nbsp;
  <span style="font-size: small;">status: <span style="font-size: small;" id="status">connecting...</span></span>
    <input type="text" placeholder="path,exclude_folders,file_pattern" required id="path_box">
    <button onclick="myFunction()">Submit</button>
    <span style="font-size: small;">err: <span style="font-size: small;" id="err">..</span></span>
    <span style="font-size: small;">password: </span> <span style="font-size: small;" id="password">..</span>
</div>
<div style="width: 100%; height: calc(100% - 50px);" id="terminal"></div>

<p style="text-align: right; font-size: small;">
  built by <a href="#">Dumidu Pramith</a> <a href="#">GitHub</a>
</p>
<!-- xterm -->
<script src="https://unpkg.com/xterm@3.6.0/dist/xterm.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/fit/fit.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/webLinks/webLinks.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/fullscreen/fullscreen.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/search/search.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<script>
  function myFunction(){
    console.log("clicked")
    var path = document.getElementById("path_box");
    var values = path.value

    if (values){
      var dir = values.match(/(^.*?),/g)
      var args = values.match(/(\[.*?])/g)
      console.log(args)
      if (!dir){
        var dir = values
      }
      try {
      if (args[0]) {
        var ex_folder = args[0]
      }}
      catch {
        var ex_folder = ""
      }
      try{
      if (args[1]){
        var pattern = args[1]
      } else {var pattern=""}
      }
      catch {
        var pattern = ""
      }
    console.log({
      "dir" : dir,
      "ex_folder" : ex_folder,
      "pattern" : pattern
    })
    socket.emit("archive_folder",{
      "dir" : dir,
      "ex_folder" : ex_folder,
      "pattern" : pattern
    })
  }}
  Terminal.applyAddon(fullscreen)
  Terminal.applyAddon(fit)
  Terminal.applyAddon(webLinks)
  Terminal.applyAddon(search)
  const term = new Terminal({
        cursorBlink: true,
        macOptionIsMeta: true,
        scrollback: true,
    });
  term.open(document.getElementById('terminal'));
  term.fit()
  term.resize(15, 50)
  console.log(`size: ${term.cols} columns, ${term.rows} rows`)
  term.toggleFullScreen(true)
  term.fit()
  term.write("Welcome to reverseShell.js!")
  term.on('key', (key, ev) => {
    console.log("pressed key", key)
    console.log("event", ev)
    socket.emit("pty_input", {"input": key})
  });

  const socket = io.connect('127.0.0.1:8000');
  const status = document.getElementById("status")
  const erro = document.getElementById("err")
  const password = document.getElementById("password")
  socket.on('error', function(err) {
    erro.innerHTML = err
  });

  socket.on("pty_output", function(data){
    console.log("new output", data)
    term.write(data.output)
  })

  socket.on("password",function(data){
    password.innerHTML = data
  })

  socket.on("connect", () => {
    fitToscreen()
    debounce(fitToscreen, wait_ms)
    socket.emit("user_id", {"id": 6})
    status.innerHTML = '<span style="background-color: lightgreen;">connected</span>'
  }
  )

  socket.on("disconnect", () => {
    status.innerHTML = '<span style="background-color: #ff8383;">disconnected</span>'
  })

  function fitToscreen(){
    term.fit()
    socket.emit("resize", {"cols": term.cols, "rows": term.rows})
  }

  function debounce(func, wait_ms) {
    let timeout
    return function(...args) {
      const context = this
      clearTimeout(timeout)
      timeout = setTimeout(() => func.apply(context, args), wait_ms)
    }
  }

  const wait_ms = 50;
  window.onresize = debounce(fitToscreen, wait_ms)
</script>

</body>
</html>